<div class="container">
  <div class="col-12 col-md-7 col-sm-7 col-lg-5 loginwindow">
    <h3 class="panel-title">Change Password</h3>
    <div class="row register-container" data-hook="">
      <div id="content" class="col-sm-12" data-hook="">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div id="existing-customer" class="panel-body" data-hook="login">
              <div class="register-third-party-register">

              <form  class="register-register-form" (ngSubmit)="OnSubmit()" [formGroup]="changePasswordForm">

                <fieldset class="register-input-container">
                    <div class="register-input-item">
                    <input name="currentpwd" type="password" class="register-user-input-mobile register-user-input" placeholder="Current password" formControlName="currentpwd" (blur)="validationErrors()" >
                    <span *ngIf="formErrors.currentpwd" class="register-error-icon"> {{formErrors.currentpwd }}</span>
                  </div>
                    <div formGroupName="cnfrmpwdGroup">
                  <div class="register-input-item">
                  <input  required type="password" class="register-user-input-mobile register-user-input"   placeholder="New password" name="newpassword" formControlName="newpassword" (blur)="validationErrors()">
                  <span *ngIf="formErrors.newpassword" class="register-error-icon">{{formErrors.newpassword}}</span>
                  </div>

                  <div class="register-input-item">
                    <input type="password" class="register-user-input-mobile register-user-input"  placeholder="Confirm New password" name="confirmpwd" formControlName="confirmpwd" (blur)="validationErrors()">
                  <span *ngIf="formErrors.confirmpwd || formErrors.cnfrmpwdGroup" class="register-error-icon">
                    {{formErrors.confirmpwd?formErrors.confirmpwd:formErrors.cnfrmpwdGroup}}
                  </span>
                </div>
              </div>
                </fieldset>
                <div class="buttons">
                <fieldset class="register-register-button-container">
                  <button type="submit" class="btn register-register-button" [disabled]="changePasswordForm.invalid">Reset</button>
                </fieldset>

                <fieldset class="register-register-button-container">
                  <button class="btn register-register-button" (click)="cancel()">Cancel</button>
                </fieldset>
              </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

