 <!-- <div class="container content mb-4" > -->
    <div class="sort-left">
      <!-- <div itemprop="name" class="queried-for col-7 pl-1 ">
        <h4 title="men casual shirts">
        </h4>
        <span>&nbsp;</span>
      </div> -->
      <!-- <div class="options col-5 p-0 pr-2 ">
        <div class="form-group row mb-0 ">
          <label class="col-sm-5 col-md-5 col-form-label">Sort</label>
           <div ngbDropdown class="btn-group col-sm-7 col-md-7" dropdown >
            <button type="button" class="btn sort-dropdown dropdown-toggle" aria-controls="dropdown-basic"  id="dropdown-basic" ngbDropdownToggle >   {{selectedOption}}</button> -->
            <!-- <div ngbDropdownMenu aria-labelledby="button-basic"  class="dropdown-menu dropdown-menu-left "> -->
              <!-- <button class="dropdown-item" name="selectedOption"  [value]="option.name"  (click)="optionsSelected()" *ngFor="let option of options">{{option.name}}</button> -->

              <!-- <select ngbDropdownMenu aria-labelledby="button-basic"  class="dropdown-menu dropdown-menu-left ">
                <option *ngFor="let option of options" [value]="option.name">{{option.name}}</option>
              </select> -->
            <!-- </div> -->
          <!-- </div>  -->
          <!-- <div class="btn-group col-sm-7 col-md-7" dropdown>
            <button dropdownToggle type="button" class="btn sort-dropdown dropdown-toggle" aria-controls="dropdown-basic" id="dropdown-basic" data-toggle="dropdown">
              {{selectedOption}}
            </button>
            <ul   class="dropdown-menu"  role="menu" aria-labelledby="button-basic">
              <li role="menu">
                <a role="menuitem" class="dropdown-item" *ngFor="let option of options">{{option.name}}</a>
              </li>
            </ul>
          </div> -->
        <!-- </div>
      </div> -->
      <div class="options col-5 p-0 pr-2">
        <div class="form-group row mb-0 ">
          <label class="col-sm-5 col-md-5 col-form-label ">Sort</label>
          <!-- <div class="btn-group col-sm-7 col-md-7 " dropdown>
            <button dropdownToggle type="button" class="btn sort-dropdown dropdown-toggle" aria-controls="dropdown-basic">
              {{selectedOption}}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item" (click)=sortFilter(opt.name) *ngFor="let opt of options">{{opt.name}}</a>
              </li>
            </ul>
          </div> -->
          <!-- <div class="btn-group col-sm-7 col-md-7 " dropdown> -->
          <select class="btn sort-dropdown dropdown-toggle" aria-controls="dropdown-basic" (change)="sortFilter($event.target.value)">
          <option class="dropdown-item" *ngFor="let opt of options" [value]="opt.value">
            {{opt.name}}
          </option>
          </select>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div>-->
  <!-- </div>  -->
