<div class="container">
  <div class="col-12 col-md-7 col-sm-7 col-lg-5 loginwindow">
    <h3 class="panel-title">Sign Up</h3>
    <div class="row register-container" data-hook="">
      <div id="content" class="col-sm-12" data-hook="">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div id="existing-customer" class="panel-body" data-hook="login">
              <div class="register-third-party-register">
                <p class="register-button-info-text register-info-text">EASILY USING</p>
                <div class="register-button-container">
                  <button class="register-google register-button" id="gPlusLogin">
                    <span class="register-gplus-logo register-sprite"></span>
                    GOOGLE
                  </button>
                </div>
              </div>

              <p class="register-button-info-text register-info-text">- OR USING EMAIL -</p>
              <form class="register-register-form" (ngSubmit)="OnSubmit()" [formGroup]="registrationForm">

                <fieldset class="register-input-container">
                  <div class="register-input-item">
                    <input  type="text" class="register-user-input-mobile register-user-input"
                    placeholder="Email" formControlName="userName" (blur)="validationErrors()" >
                    <span *ngIf="formErrors.userName" class="register-error-icon"> {{formErrors.userName }}</span>
                  </div>
                  <div class="register-input-item">
                    <input type="text" class="register-user-input-mobile register-user-input"   placeholder="First Name" formControlName="firstName" (blur)="validationErrors()">
                    <span *ngIf="formErrors.firstName" class="register-error-icon"> {{formErrors.firstName }}</span>
                  </div>


                  <div class="register-input-item">
                    <input type="text" class="register-user-input-mobile register-user-input"  placeholder="Your Last Name" name="lastName" formControlName="lastName" (blur)="validationErrors()">
                    <span *ngIf="formErrors.lastName" class="register-error-icon"> {{formErrors.lastName }}</span>
                  </div>

                  <div class="register-input-item">
                    <input type="password" class="register-user-input-password register-user-input" name="password"
                      placeholder="Choose Password" formControlName="password" (blur)="validationErrors()">
                      <span *ngIf="formErrors.password" class="register-error-icon"> {{formErrors.password }}</span>
                  </div>

                  <div class="register-input-item">
                    <input type="password" class="register-user-input-password register-user-input" name="passwordconfirmation" placeholder="Confirm Password" formControlName="cnfrmpassword" (blur)="validationErrors()">
                      <span *ngIf="formErrors.cnfrmpassword" class="register-error-icon"> {{formErrors.cnfrmpassword }}</span>
                    <div class="register-input-item">
                      <input type="number" class="register-user-input-mobile register-user-input" name="phoneNumber"
                        placeholder="Mobile Number (For order status updates)" formControlName="phoneNumber" (blur)="validationErrors()">
                        <span *ngIf="formErrors.phoneNumber" class="register-error-icon"> {{formErrors.phoneNumber }}</span>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="register-register-button-container">
                  <button class="btn register-register-button">REGISTER</button>
                </fieldset>
              </form>
              <div class="register-link-container">
                <small>
                  <div class="register-login-link">
                    <span class="register-info-text">Already have an account?</span>
                    <a class="register-create-account-link register-link text-danger" [routerLink]="['/login']">Login!</a>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
