<div class="container-fluid backgroundcolor">
    <div class="row">
        <div class="col-md-3 margintop">
            <app-categories></app-categories>
        </div>
        <div class="col-md-9 ">
            <div class="row float-right margintop">
                <app-product-sort></app-product-sort>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row results-base m-0">
                <div class="col-12 col-sm-4 col-lg-3 p-2 m-0" *ngFor="let product of products" itemscope itemtype="https://schema.org/Product">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
        </div>
    </div>
</div>