<div class="">
    <div class="col-12">
        <h1>Description </h1>
        <h4>Product Description</h4>
        <p></p>
        <h4>Features</h4>
        <p></p>
        <h4>Dimensions</h4>
        <p></p>

        <ul class="p-0 m-0" style="display:inline-table;">
            <li style="list-style:none">
                <ul style="">
                    <li style="list-style:none;display:inline">
                        Height:
                    </li>
                    <li style="list-style:none;display:inline">-</li>
                </ul>
            </li>
            <li style="list-style:none">
                <ul>
                    <li style="list-style:none;display:inline">
                        Weight:
                    </li>
                    <li style="list-style:none;display:inline">-</li>
                </ul>
            </li>
            <li style="list-style:none">
                <ul>
                    <li style="list-style:none;display:inline">
                        Manufacturer:
                    </li>
                    <li style="list-style:none;display:inline">-</li>
                </ul>
            </li>
        </ul>

    </div>
</div>