<div class="">
    <div class="col-12">
        <h1>Description </h1>
        <!-- <h4>Product Description</h4> -->
        <!-- <p></p> -->
        <!-- <h4>Features</h4> -->
        <!-- <p></p> -->
        <!-- <h4>Dimensions</h4> -->
        <!-- <p></p> -->

        <ul class="p-0 m-0" style="display:inline-table;">
            <li style="list-style:none">
                <ul style="">
                    <li style="list-style:none;display:inline">
                      Description:
                    </li>
                    <li style="list-style:none;display:inline"> - {{product.Description}}</li>
                </ul>
            </li>
            <li style="list-style:none">
                <ul>
                    <li style="list-style:none;display:inline">
                        Color:
                    </li>
                    <li style="list-style:none;display:inline"> -{{product.Color}}</li>
                </ul>
            </li>
            <li style="list-style:none">
                <ul>
                    <li style="list-style:none;display:inline">
                        Size:
                    </li>
                    <li style="list-style:none;display:inline"> -{{product.size}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
